.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #f0e14a;
  border: 0.5rem solid #97ce4c;
  text-align: center;
  transition-property: transform, box-shadow;
  transition-duration: 1s;
  border-radius: 10%;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 53px 9px rgba(151, 206, 76, 0.71);
}

.card-img {
  border-radius: 10%;
}

.card-button {
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 0.2rem;
}

.card-content {
  color: black;
}

.card-name {
  color: black;
}
