.character {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-detail {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #f0e14a;
  border: 0.5rem solid #97ce4c;
  color: black;
}

.character-detail-content {
  margin-left: 1rem;
}
.character-detail-button {
  background-color: #e4a788;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 0.2rem;
  margin-top: 1rem;
}

.character-detail-no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media all and (max-width: 414px) {
  .character-detail {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: baseline;
  }

  .character-detail-content {
    margin-left: 0rem;
  }
}
