.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #44281d;
  height: 80vh;
}

.character-detail {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #f0e14a;
  border: 0.5rem solid #97ce4c;
  height: fit-content;
}

.character-detail-content {
  margin-left: 1rem;
}
.character-detail-button {
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 1rem;
}
