.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-no-results {
  padding: 2rem;
}

.list-no-content {
  color: white;
}

.list-detail-button {
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 1rem;
}
